<div class="section no-pad-bot parallax-container" id="index-banner">
    <div class="container">
    <br><br>
 	  <div class="parallax"><%=image_tag("wallpaper.jpg")%></div>
      <h1 class="header center orange-text">+ New Project</h1>
      <div class="row center">
        <h5 class="header col s12 teal-text text-lighten-5">Tu equipo de trabajo a un click de distancia</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Explorar</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4 z-depth-4">
          <div class="card">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large  material-icons">flash_on</i></h2>
	            <h5 class="center">¿Que es new project?</h5>
		          <div class="card-content">
	            	<p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">Ver mas...</a>
	            </div>
	          </div>
	        </div>
        </div>

        <div class="col s12 m4 z-depth-4">
          <div class="card">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large material-icons">group</i></h2>
	            <h5 class="center">Metas</h5>
		        <div class="card-content">
	            	<p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">Ver mas...</a>
	            </div>
	          </div>
	        </div>
        </div>
        <div class="col s12 m4 z-depth-4">
          <div class="card">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large material-icons">settings</i></h2>
	            <h5 class="center">Desarolladores </h5>
		        <div class="card-content">
	            	<p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">Ver mas...</a>
	            </div>
	          </div>
	        </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Este es un proyecto de uso libre</h5>
          <p class="grey-text text-lighten-4">Para mas informacion consulte los terminos y condici/html/evidencias.htmlneEvidencias</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
